*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	list-style: none;
}

.slideshow{
	width: 50%;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 100%;
	border-radius: 20px;
}

.der{
	height: 35px;
	width: 35px;
	cursor: pointer;
}

@media screen and (max-width: 600px){
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}

	.slideshow{
	width: 100%;
}
}